// TOOL FILE FONTS
@mixin font-preset($font-preset) {
  $fz: mdg($typography, '#{$font-preset}', 'font-size');
  font-size: $fz;
  font-weight: mdg($typography, '#{$font-preset}', 'font-weight');
}

@mixin font-style($font-preset, $tt: false, $kerning: true, $i: 0) {
  $fz: mdg($typography, '#{$font-preset}', 'font-size');

  @include font-preset($font-preset);
  @if $tt == 'uppercase' and $kerning == true {
    letter-spacing: #{kerning($fz) + $i};
  }
  @if $tt != false {
    text-transform: $tt;
  }
}

@mixin text-style($font-preset, $color, $lh: false, $tt: false) {
  @if $font-preset != false {
    @include font-style($font-preset, $tt);
  }
  @if $color != false {
    color: $color;
  }
  @if $lh != false {
    line-height: $lh;
  }
}


@mixin text-clamp($height, $start-color, $end-color) {
  overflow: hidden;
  height: $height;
  &:before {
    content:"";
    float: left;
    width: 5px;
    height: calc(#{$height} + 8px);
  }
  > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
  }
  &:after {
    content: "\02026";
    color:transparent;
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px; left: 100%;
    width: 3em; margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
    @include background(linear-gradient(to right, $start-color, $end-color));
  }
}

// FONTFACE
@function kerning($fz) {
  @return (100 - $fz) / 3600;
}
