$base-font-name: 'roboto';
$base-font-black:     '#{$base-font-name}-black';
$base-font-black-i:   '#{$base-font-name}-black-italic';
$base-font-bold:      '#{$base-font-name}-bold';
$base-font-bold-i:    '#{$base-font-name}-bold-italic';
$base-font-i:         '#{$base-font-name}-italic';
$base-font-light:     '#{$base-font-name}-light';
$base-font-light-i:   '#{$base-font-name}-light-italic';
$base-font-medium:    '#{$base-font-name}-medium';
$base-font-medium-i:  '#{$base-font-name}-medium-italic';
$base-font:           '#{$base-font-name}-regular';
$base-font-thin:      '#{$base-font-name}-thin';
$base-font-thin-i:    '#{$base-font-name}-thin-italic';

// fonts
@mixin font($fz, $color, $lh: $fz, $ff: false, $tt: false) {
  @if $color != false {
    color: $color;
  }
  @if $lh != false {
    line-height: $lh;
  }
  @if $ff != false {
    @include fontface($ff, $tt, $fz);
  }
  @else {
    font-size: $fz;
  }
}

@mixin fontface($ff: false, $tt: normal, $fz: false, $kerning: true, $i: 0) {
  @if $tt != false {
    text-transform: $tt;
  }
  @if $fz != false {
    font-size: $fz;
    @if $tt == 'uppercase' and $kerning == true {
      letter-spacing: #{kerning($fz) + $i};
    }
  }
  @if $ff != false {
    font-family: $ff;
  }
}
