[alt="acb"] {
  width: 59px;
  height: 53px;
}

[alt="adv"] {
  width: 58px;
  height: 50px;
}

[alt="alfa"] {
  width: 39px;
  height: 57px;
}

[alt="bidv"] {
  width: 127px;
  height: 40px;
}

[alt="bitcoin-litecoin"] {
  width: 100px;
  height: 60px;
}

[alt="boleto"] {
  width: 82px;
  height: 52px;
}

[alt="cash-shop"] {
  width: 75px;
  height: 55px;
}

[alt="cep"] {
  width: 78px;
  height: 65px;
}

[alt="doku"] {
  width: 54px;
  height: 55px;
}

[alt="doku-ib"] {
  width: 111px;
  height: 39px;
}

[alt="doku-va"] {
  width: 103px;
  height: 40px;
}

[alt="donga"] {
  width: 197px;
  height: 40px;
}

[alt="epay"] {
  width: 155px;
  height: 38px;
}

[alt="fasapay"] {
  width: 167px;
  height: 37px;
}

[alt="globe"] {
  width: 155px;
  height: 40px;
}

[alt="help-ib"] {
  width: 142px;
  height: 43px;
}

[alt="indian-local"] {
  width: 149px;
  height: 42px;
}

[alt="internet"] {
  width: 98px;
  height: 55px;
}

[alt="jcb"] {
  width: 57px;
  height: 45px;
}

[alt="jeton"] {
  width: 141px;
  height: 38px;
}

[alt="jeton-voucher"] {
  width: 95px;
  height: 49px;
}

[alt="mir"] {
  width: 95px;
  height: 28px;
}

[alt="neteller"] {
  width: 132px;
  height: 22px;
}

[alt="ng-atm-of"] {
  width: 130px;
  height: 48px;
}

[alt="ng-atm-on"] {
  width: 69px;
  height: 50px;
}

[alt="ng-ib"] {
  width: 134px;
  height: 45px;
}

[alt="ng-qr"] {
  width: 124px;
  height: 30px;
}

[alt="ngluong"] {
  width: 216px;
  height: 50px;
}

[alt="payeer"] {
  width: 116px;
  height: 25px;
}

[alt="perfect-money"] {
  width: 170px;
  height: 50px;
}

[alt="permata"] {
  width: 174px;
  height: 51px;
}

[alt="privat"] {
  width: 178px;
  height: 40px;
}

[alt="psb"] {
  width: 48px;
  height: 49px;
}

[alt="qiwi"] {
  width: 128px;
  height: 50px;
}

[alt="qr"] {
  width: 50px;
  height: 50px;
}

[alt="sacombank"] {
  width: 179px;
  height: 36px;
}

[alt="techcom"] {
  width: 112px;
  height: 60px;
}

[alt="vietcom"] {
  width: 163px;
  height: 57px;
}

[alt="vietin"] {
  width: 158px;
  height: 45px;
}

[alt="visa-ms"] {
  width: 132px;
  height: 50px;
}

[alt="webmoney"] {
  width: 78px;
  height: 60px;
}

[alt="wmz"] {
  width: 113px;
  height: 46px;
}

[alt="yandex-money"] {
  width: 74px;
  height: 60px;
}

@media screen and (max-width: 1024px) {
  [alt="acb"] {
      width: 49px;
      height: 43px;
  }
  [alt="adv"] {
      width: 49px;
      height: 41px;
  }
  [alt="alfa"] {
      width: 32px;
      height: 48px;
  }
  [alt="bidv"] {
      width: 106px;
      height: 33px;
  }
  [alt="bitcoin-litecoin"] {
      width: 83px;
      height: 49px;
  }
  [alt="boleto"] {
      width: 68px;
      height: 42px;
  }
  [alt="cash-shop"] {
      width: 62px;
      height: 46px;
  }
  [alt="cep"] {
      width: 64px;
      height: 54px;
  }
  [alt="doku"] {
      width: 45px;
      height: 46px;
  }
  [alt="doku-ib"] {
      width: 93px;
      height: 33px;
  }
  [alt="doku-va"] {
      width: 86px;
      height: 33px;
  }
  [alt="donga"] {
      width: 164px;
      height: 33px;
  }
  [alt="epay"] {
      width: 128px;
      height: 31px;
  }
  [alt="fasapay"] {
      width: 137px;
      height: 30px;
  }
  [alt="globe"] {
      width: 128px;
      height: 33px;
  }
  [alt="help-ib"] {
      width: 118px;
      height: 36px;
  }
  [alt="indian-local"] {
      width: 124px;
      height: 35px;
  }
  [alt="internet"] {
      width: 81px;
      height: 45px;
  }
  [alt="jcb"] {
      width: 47px;
      height: 38px;
  }
  [alt="jeton"] {
      width: 117px;
      height: 32px;
  }
  [alt="jeton-voucher"] {
      width: 80px;
      height: 41px;
  }
  [alt="mir"] {
      width: 79px;
      height: 23px;
  }
  [alt="neteller"] {
      width: 109px;
      height: 17px;
  }
  [alt="ng-atm-of"] {
      width: 108px;
      height: 39px;
  }
  [alt="ng-atm-on"] {
      width: 57px;
      height: 42px;
  }
  [alt="ng-ib"] {
      width: 112px;
      height: 38px;
  }
  [alt="ng-qr"] {
      width: 102px;
      height: 25px;
  }
  [alt="ngluong"] {
      width: 180px;
      height: 41px;
  }
  [alt="payeer"] {
      width: 96px;
      height: 21px;
  }
  [alt="perfect-money"] {
      width: 143px;
      height: 42px;
  }
  [alt="permata"] {
      width: 145px;
      height: 42px;
  }
  [alt="privat"] {
      width: 147px;
      height: 34px;
  }
  [alt="psb"] {
      width: 40px;
      height: 41px;
  }
  [alt="qiwi"] {
      width: 106px;
      height: 41px;
  }
  [alt="qr"] {
      width: 41px;
      height: 42px;
  }
  [alt="sacombank"] {
      width: 148px;
      height: 31px;
  }
  [alt="techcom"] {
      width: 93px;
      height: 49px;
  }
  [alt="vietcom"] {
      width: 135px;
      height: 46px;
  }
  [alt="vietin"] {
      width: 131px;
      height: 36px;
  }
  [alt="visa-ms"] {
      width: 110px;
      height: 41px;
  }
  [alt="webmoney"] {
      width: 63px;
      height: 50px;
  }
  [alt="wmz"] {
      width: 93px;
      height: 39px;
  }
  [alt="yandex-money"] {
      width: 62px;
      height: 50px;
  }
}

@media screen and (max-width: 823px) {
  [alt="acb"] {
      width: 38px;
      height: 33px;
  }
  [alt="adv"] {
      width: 38px;
      height: 32px;
  }
  [alt="alfa"] {
      width: 25px;
      height: 36px;
  }
  [alt="bidv"] {
      width: 82px;
      height: 26px;
  }
  [alt="bitcoin-litecoin"] {
      width: 65px;
      height: 38px;
  }
  [alt="boleto"] {
      width: 53px;
      height: 33px;
  }
  [alt="cash-shop"] {
      width: 48px;
      height: 36px;
  }
  [alt="cep"] {
      width: 50px;
      height: 42px;
  }
  [alt="doku"] {
      width: 35px;
      height: 36px;
  }
  [alt="doku-ib"] {
      width: 72px;
      height: 26px;
  }
  [alt="doku-va"] {
      width: 66px;
      height: 26px;
  }
  [alt="donga"] {
      width: 128px;
      height: 26px;
  }
  [alt="epay"] {
      width: 99px;
      height: 25px;
  }
  [alt="fasapay"] {
      width: 107px;
      height: 24px;
  }
  [alt="globe"] {
      width: 99px;
      height: 26px;
  }
  [alt="help-ib"] {
      width: 92px;
      height: 29px;
  }
  [alt="indian-local"] {
      width: 96px;
      height: 28px;
  }
  [alt="internet"] {
      width: 63px;
      height: 35px;
  }
  [alt="jcb"] {
      width: 36px;
      height: 30px;
  }
  [alt="jeton"] {
      width: 91px;
      height: 25px;
  }
  [alt="jeton-voucher"] {
      width: 62px;
      height: 32px;
  }
  [alt="mir"] {
      width: 61px;
      height: 18px;
  }
  [alt="neteller"] {
      width: 84px;
      height: 14px;
  }
  [alt="ng-atm-of"] {
      width: 84px;
      height: 30px;
  }
  [alt="ng-atm-on"] {
      width: 45px;
      height: 33px;
  }
  [alt="ng-ib"] {
      width: 87px;
      height: 29px;
  }
  [alt="ng-qr"] {
      width: 79px;
      height: 19px;
  }
  [alt="ngluong"] {
      width: 141px;
      height: 32px;
  }
  [alt="payeer"] {
      width: 75px;
      height: 16px;
  }
  [alt="perfect-money"] {
      width: 111px;
      height: 32px;
  }
  [alt="permata"] {
      width: 112px;
      height: 32px;
  }
  [alt="privat"] {
      width: 114px;
      height: 26px;
  }
  [alt="psb"] {
      width: 32px;
      height: 33px;
  }
  [alt="qiwi"] {
      width: 83px;
      height: 32px;
  }
  [alt="qr"] {
      width: 32px;
      height: 33px;
  }
  [alt="sacombank"] {
      width: 116px;
      height: 24px;
  }
  [alt="techcom"] {
      width: 73px;
      height: 38px;
  }
  [alt="vietcom"] {
      width: 105px;
      height: 36px;
  }
  [alt="vietin"] {
      width: 103px;
      height: 29px;
  }
  [alt="visa-ms"] {
      width: 86px;
      height: 32px;
  }
  [alt="webmoney"] {
      width: 50px;
      height: 39px;
  }
  [alt="wmz"] {
      width: 72px;
      height: 31px;
  }
  [alt="yandex-money"] {
      width: 48px;
      height: 39px;
  }
}

@media screen and (max-width: 480px) {
  [alt="acb"] {
      width: 28px;
      height: 27px;
  }
  [alt="adv"] {
      width: 29px;
      height: 24px;
  }
  [alt="alfa"] {
      width: 19px;
      height: 29px;
  }
  [alt="bidv"] {
      width: 63px;
      height: 19px;
  }
  [alt="bitcoin-litecoin"] {
      width: 49px;
      height: 30px;
  }
  [alt="boleto"] {
      width: 41px;
      height: 25px;
  }
  [alt="cash-shop"] {
      width: 57px;
      height: 42px;
  }
  [alt="cep"] {
      width: 39px;
      height: 32px;
  }
  [alt="doku"] {
      width: 27px;
      height: 26px;
  }
  [alt="doku-ib"] {
      width: 55px;
      height: 19px;
  }
  [alt="doku-va"] {
      width: 78px;
      height: 30px;
  }
  [alt="donga"] {
      width: 98px;
      height: 19px;
  }
  [alt="epay"] {
      width: 77px;
      height: 19px;
  }
  [alt="fasapay"] {
      width: 82px;
      height: 20px;
  }
  [alt="globe"] {
      width: 77px;
      height: 20px;
  }
  [alt="help-ib"] {
      width: 71px;
      height: 21px;
  }
  [alt="indian-local"] {
      width: 74px;
      height: 21px;
  }
  [alt="internet"] {
      width: 62px;
      height: 35px;
  }
  [alt="jcb"] {
      width: 29px;
      height: 23px;
  }
  [alt="jeton"] {
      width: 70px;
      height: 19px;
  }
  [alt="jeton-voucher"] {
      width: 47px;
      height: 25px;
  }
  [alt="mir"] {
      width: 48px;
      height: 14px;
  }
  [alt="neteller"] {
      width: 67px;
      height: 11px;
  }
  [alt="ng-atm-of"] {
      width: 64px;
      height: 25px;
  }
  [alt="ng-atm-on"] {
      width: 34px;
      height: 25px;
  }
  [alt="ng-ib"] {
      width: 68px;
      height: 22px;
  }
  [alt="ng-qr"] {
      width: 62px;
      height: 14px;
  }
  [alt="ngluong"] {
      width: 108px;
      height: 24px;
  }
  [alt="payeer"] {
      width: 58px;
      height: 12px;
  }
  [alt="perfect-money"] {
      width: 85px;
      height: 26px;
  }
  [alt="permata"] {
      width: 88px;
      height: 26px;
  }
  [alt="privat"] {
      width: 89px;
      height: 19px;
  }
  [alt="psb"] {
      width: 23px;
      height: 25px;
  }
  [alt="qiwi"] {
      width: 64px;
      height: 24px;
  }
  [alt="qr"] {
      width: 25px;
      height: 25px;
  }
  [alt="sacombank"] {
      width: 89px;
      height: 19px;
  }
  [alt="techcom"] {
      width: 57px;
      height: 30px;
  }
  [alt="vietcom"] {
      width: 81px;
      height: 28px;
  }
  [alt="vietin"] {
      width: 78px;
      height: 22px;
  }
  [alt="visa-ms"] {
      width: 66px;
      height: 24px;
  }
  [alt="webmoney"] {
      width: 39px;
      height: 30px;
  }
  [alt="wmz"] {
      width: 56px;
      height: 22px;
  }
  [alt="yandex-money"] {
      width: 36px;
      height: 30px;
  }
}
