mixin image
  if attributes.class
    img(class=attributes.class, src=require("images/"+attributes.src+""), width!=attributes.width)
  else
    img(class="image", src=require("images/"+attributes.src+""), width!=attributes.width)
