.mobile-app-link {
  display: inline-block;
  width: 140px;
  height: 42px;
  background-repeat: no-repeat;
  background-size: contain;

  &.ios {
    &.cn {
      background-image: url('~images/apple-store/apple-store-cn.svg');
    }
    &.en {
      background-image: url('~images/apple-store/apple-store-en.svg');
    }
    &.es {
      background-image: url('~images/apple-store/apple-store-es.svg');
    }
    &.id {
      background-image: url('~images/apple-store/apple-store-id.svg');
    }
    &.ms {
      background-image: url('~images/apple-store/apple-store-ms.svg');
    }
    &.pt {
      background-image: url('~images/apple-store/apple-store-pt.svg');
    }
    &.ru {
      background-image: url('~images/apple-store/apple-store-ru.svg');
    }
    &.th {
      background-image: url('~images/apple-store/apple-store-th.svg');
    }
    &.tr {
      background-image: url('~images/apple-store/apple-store-tr.svg');
    }
    &.vn {
      background-image: url('~images/apple-store/apple-store-vn.svg');
    }

    &.in {
      background-image: url('~images/apple-store/apple-store-en.svg');
    }
    &.kr {
      background-image: url('~images/apple-store/apple-store-en.svg');
    }
    &.kz {
      background-image: url('~images/apple-store/apple-store-en.svg');
    }
    &.me {
      background-image: url('~images/apple-store/apple-store-en.svg');
    }
    &.pl {
      background-image: url('~images/apple-store/apple-store-en.svg');
    }
    &.ro {
      background-image: url('~images/apple-store/apple-store-en.svg');
    }
    &.ua {
      background-image: url('~images/apple-store/apple-store-en.svg');
    }
  }

  &.gplay {
    &.cn {
      background-image: url('~images/google-app/google-play-badge-cn.png');
    }
    &.en {
      background-image: url('~images/google-app/google-play-badge-en.png');
    }
    &.es {
      background-image: url('~images/google-app/google-play-badge-es.png');
    }
    &.id {
      background-image: url('~images/google-app/google-play-badge-id.png');
    }
    &.in {
      background-image: url('~images/google-app/google-play-badge-in.png');
    }
    &.kr {
      background-image: url('~images/google-app/google-play-badge-kr.png');
    }
    &.kz {
      background-image: url('~images/google-app/google-play-badge-kz.png');
    }
    &.ms {
      background-image: url('~images/google-app/google-play-badge-ms.png');
    }
    &.pl {
      background-image: url('~images/google-app/google-play-badge-pl.png');
    }
    &.pt {
      background-image: url('~images/google-app/google-play-badge-pt.png');
    }
    &.ro {
      background-image: url('~images/google-app/google-play-badge-ro.png');
    }
    &.ru {
      background-image: url('~images/google-app/google-play-badge-ru.png');
    }
    &.th {
      background-image: url('~images/google-app/google-play-badge-th.png');
    }
    &.tr {
      background-image: url('~images/google-app/google-play-badge-tr.png');
    }
    &.ua {
      background-image: url('~images/google-app/google-play-badge-ua.png');
    }
    &.vn {
      background-image: url('~images/google-app/google-play-badge-vn.png');
    }

    &.me {
      background-image: url('~images/google-app/google-play-badge-en.png');
    }
  }
}
