$em: 10px;

// REG FORM
$baseMarg: 20px;
$white: #fff;
$black: #000;
$grey: #373c43;
$dark-grey: rgba(67,72,80,.8);
$dark-grey-btn: #373c43;
$green: #52c224;
$black-80: rgba(4,7,10,.8);

.btn-split {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

form {
  display: block;
  width: 100%;
  transition: right .5s ease-in-out;

  input, button {
    outline: 0 !important;
  }

  button.submit, .close {
    cursor:pointer;
  }

  &.active {
    right: 0;
  }

  fieldset {
    padding: 0;
    border: 0;
  }
}

// social

.social-auth {
  margin: 0 auto 16px auto;
  display: block;
  max-width: 300px;
  width: 100%;

  .btn-icon {
    &.btn-md {
      line-height: 40px !important;
      height: 40px !important;
    }
  }
}

// fix for agree text line

span.check-text > * {
  display: inline-block;
}

.popup {
  display: none;
}

.popup.active {
  display: block!important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(4, 7, 10, 0.8);

  .close {
    position: absolute;
    right: 7%;
    top: 10px;
    font-size: 22px;
    color: $white;
    cursor: pointer;
    width: 32px;
    height: 32px;

    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 25px;
      width: 6px;
      background-color: $white;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.form-wrapper {
  background: $black;
  max-width: 370px;
  margin: 0 auto;
  padding:$baseMarg*2 $baseMarg;
  border-radius: 8px;

  .form-title {
    @include font(40px,$white,45px,$base-font-medium);

    margin-bottom: 40px;
    text-align: center;
  }
}



.form-registration {
  position: relative;
  margin: 0 auto !important;

  .form-group {
    margin-bottom: $baseMarg;

    .helper {
      display: none;
    }

    input[type=text], input[type=password] {
      background-color: $dark-grey;
      border-radius: 5px;
    }

    .check-text a {
      font-size: 14px;
    }

    .form-info {
      position: relative;
      width: 100%;
      text-align: center;

      span {
        display: inline;
        position: absolute;
        top: -15px;
        left: 0;
        background-color: rgba(190,0,0,.8);
        text-align: center;
        width: 100%;
        padding: 5px 0;
        font-size: 13px;
      }
    }
  }

  .form-currency {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    .currency-inner {
      @extend .btn-split;
      width: 100%;
    }

    .custom-radio-currency {
      background-color: $dark-grey;
      width: 100%;
      margin: 0 1px;
      margin-left: 0 !important;
      vertical-align: top;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

form {
  display: block;
  width: 100%;
  transition: right .5s ease-in-out;

input, button {
  outline: 0 !important;
}

button.submit, .close {
  cursor:pointer;
}

&.active {
  right: 0;
}

fieldset {
  padding: 0;
  border: 0;
}

.close {
  position: absolute;
  right: $baseMarg;
  top: $baseMarg;
  font-size: 22px;
  color: $white;
}

.form-control + .tooltip {
  bottom: 100%;
  position: absolute;
  top: 100% !important;
  left: 0 !important;
  right: auto !important;
  margin-left: 0;
  width: 100%;
  max-width: 100%;
  -webkit-transform: none;
  transform: none;

  .tooltip-inner {
    text-align: center;
    background-color: rgba(190,0,0,.8);
    padding: 3px 0;
    border-radius: 0 0 4px 4px;
  }
}

.i_agree-cont {
  .form-control + .tooltip {
    width: 200px !important;
    max-width: 200px !important;
    }
  }
}


%reg-form-input-decore {
  width: 100%;
  padding: 0 15px;
  border: 0;
  color: $black;
}

%reg-form-i-agree {
  padding: $baseMarg * 0.5 0 ;
  margin-bottom: 0;
  text-align: left;
}

%reg-form-check {
  font-size: 22px !important;
  width: 1.25em !important;
  height: 1.25em !important;
  position: relative;
  display: inline-block;
  background-color: #468CE4;
  border-radius: 4px;

  &:after {
    opacity: 0;
    transition: opacity .1s ease-in-out;
    border-radius: 2px;
  }
}

//quad btn
%reg-form-check-checked {
  &:after {
    margin-top: -5px !important;
    margin-left: -5px !important;
    height: 0.5em !important;
    width: 0.5em !important;
    font-size: 34px;
    opacity: 1;
    background: url('~images/l28/check.png') no-repeat;
    background-size: 12px 10px;
  }
}

%reg-form-decorator {
  color: $white;
  display: inline-block;
  text-align: center;
  width: 100% !important;
  height: 52px !important;
  line-height: 50px;
  margin-right: 0px;
  letter-spacing: 1px;
  transition : color .1s ease-in-out, box-shadow .3s ease-in-out;
  cursor: pointer;
  font-size: 20px;
}

%reg-form-decorator-checed {
  background-color: rgba(255,255,255,.2);
}

%reg-form-submit-btn {
  border-radius: 4px;
  color: #000;
  margin: 0 auto;
  font-size: 20px;
  background: #FFDD47;
  text-align: center;
  text-transform: uppercase;
  // padding: 1.8 * $em 8 * $em 1.8 * $em 8 * $em;
  text-decoration: none;
  width: 100%;
  transition: transform  .2s ease-in-out,box-shadow .2s ease-in-out;
  border: 0;
  padding: 10px 0;
}

input:-webkit-autofill {
  background-color: $grey !important;
  color: #fff !important;
  -webkit-box-shadow: inset 0 0 0 50px #fff!important;
  -webkit-text-fill-color: $grey !important;
}

@include form_registration (
  $input-height: 56px,
  $input-fz: 20px,
  $label-fz: 22px,
  $temp-fz: 16px,
  $input-color: $white,
  $label-color: none,
  $temp-l-color: $white,
  $temp-color: $white,
  $currency-size: 20px,
  $title-currency-display: block,
  $title-display: none,
  $form-space-bottom: $baseMarg * .5
);

.form-registration .currency-title {
  display: none;
}

.social-auth {
  .btn-icon.btn-md {
    width: 30%;
    height: 50px;
    line-height: 50px;

    .icon-holder {
      height: 50px;

      .n-icon {
        font-size: 34px;
      }
    }
  }
}

.form-info span {
  display: block !important;
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 5px;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  line-height: 15px;
  margin: 10px 0;
}

.form-registration .form-group .check-text {
  font-size: 14px;
}
