.promo-safe-guards {
  list-style-type: none;
  width:100%;
  display:inline-block;
  vertical-align: top;
  .item {
    width: 23.5%;
    padding: 0 0 30px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-size: 370%;
    min-width: 200px;
    .img {
      display: block;
      margin: 0 auto;
      height: 98px;
      width: 100%;
      background: url('~images/promo-safe-guards.png') no-repeat;
    }
    .text {
      font-size: 14px;
      color:#fff;
      a {
        color:#fff;
      }
    }
    &.rf {
      .img {
        width: 85px;
        background-position: 0 0 !important;
      }
    }
    &.en {
      .img {
        width: 92px;
        background-position: 100% 0 !important;
      }
    }
    &.binomo {
      .img {
        width: 180px;
        background-position: 22% 0 !important;
      }
    }
    &.comodo {
      .img {
        width: 182px;
        background-position: 51.2% 0 !important;
      }
    }
    &.thomson {
      .img {
        background-position: 85% 0 !important;
        background-size: 400%;
      }
    }
  }
}
