$baseMarg: 20px;

$white: #fff;
$black: #000;
$white: #fff;
$grey: #6a6a6a;
$gold: #ffcf00;
$black: #000;
$green: #1b9948;
$black-80: rgba(0,0,0,.5);

$color-shark: #28292D;
$color-heather: #B8BFD3;
$color-catskill-white: #F0F2F7;
$color-mystic: #E3E8F0;
$color-supernova: #FFDD47;
$color-woodsmoke: #131416;


@include form_registration (
  $input-height: 42px,
  $input-fz: 14px,
  $label-fz: 22px,
  $temp-fz: 16px,
  $input-color: $color-shark,
  $label-color: none,
  $temp-l-color: $white,
  $temp-color: $white,
  $currency-size: 16px,
  $title-currency-display: block,
  $title-display: block,
  $form-space-bottom: $baseMarg * .5
);

%input{
  background-color: $color-catskill-white;
  border-radius:5px;
  padding:0 17px;
  width:100%;
  border-radius: 3px;
  height: 42px!important;
  border: 1px solid $color-mystic !important;
}

%reg-form-input-decore{
  @extend %input;
  border: 0;
}

%reg-form-decorator {
  text-align: center;
  color: $black !important;
  cursor: pointer;
  width: 42px!important;
  background-color: $color-catskill-white;
}
%reg-form-check{
  position: relative;
  display: inline-block;
  border-radius: 3px;
  background-color: $white;
  border: 1px solid $color-woodsmoke;
    &:after{
    opacity: 0;
    transition: opacity .1s ease-in-out;
  }
}
%reg-form-check-checked{
  &:after{
    margin-top: -0.3em !important;
    margin-left: -0.18em !important;
    height: 0.5em !important;
    width: 0.5em !important;
    font-size: 22px;
    opacity: 1;
  }
}

%valign-mid-parent {
  display:inline-block !important;
  display: -moz-inline-stack;
  vertical-align: middle !important;
  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

%valign-mid-child {
  display:inline-block !important;
  vertical-align: middle !important;
}

%header-height {
  min-height: 133px;
}

%yellow-btn {
  width: 100%;
  background-color: $gold;
  color: $black;
  text-align: center;
  line-height: 107px;
  outline: 0;
  border: 0;
  word-spacing: 4px;
  font-size: 40px;
  border-radius: 10px;
  cursor: pointer;
}

%valign-top-parent {
  display:inline-block;
  display: -moz-inline-stack;
  vertical-align: top;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }
}

%valign-top-child {
  display:inline-block;
  vertical-align: top;
}
.popup {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: $black-80;
  &.active {
    display: block;
    opacity: 1;
  }
}
.form-wrapper{
  position: fixed !important;
  max-height: 750px;
  max-width: 550px;
  z-index: 1000;
  width: 96%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: $white;
  border-radius: 6px;
  input, button{
    outline: 0 !important;
  }
  button.submit, .close{
    cursor:pointer;
  }
  &.active{
    right: 0;
  }
  fieldset{
    border: 0;
  }
  .title {
    text-align: center;
    @include font(32px, $color-shark, 38px, $base-font-bold);
    @include breakpoints-compile(
      $until: tablet
    ){
      @include font(24px, $color-woodsmoke, 28px, $base-font-bold, normal);
      margin-bottom: 8px;
      margin-top: 16px;
    };
  }
  .form-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
    max-width: 432px;
    max-height: 657px;
    @include breakpoints-compile(
      $until: tablet
    ){
      width: 90%;
    };
  }
  form.form-registration{
    position: relative;
    width: 100%;
    margin: 0 auto;
    .form-group{
      margin-bottom: $baseMarg * 1.35;
      @include breakpoints-compile(
      $until: tablet
      ){
        margin-bottom: 10px;
      };
      .helper{
        display: none;
      }
      input[type=text], input[type=password]{
        @include breakpoints-compile(
          $until: tablet
        ){
          @include font(14px, $color-woodsmoke, 32px, inherit, normal);
          height: 32px !important;
        };
      }
      .check-text {
        color: $color-shark;
        a{
          font-size: 14px;
          color: $black;
        }
      }
      .form-info{
        position: relative;
        width: 100%;
        text-align: center;
        span{
          display: inline;
          position: absolute;
          top: -15px;
          background-color: rgba(190,0,0,.8);
          text-align: center;
          width: 100%;
          padding: 5px 0;
          font-size: 13px;
        }
        @include breakpoints-compile(
          $until: tablet
        ){
          display: none;
        };
      }
      .form-title {
        margin: 0 0 $baseMarg $baseMarg / 2;
        @include font(12px, $color-heather, 14px, $base-font, uppercase);
        @include breakpoints-compile(
          $until: tablet
        ){
          @include font(12px, $color-heather, 14px, $base-font, normal);
          margin-bottom: 5px;
        };
      }
      #email{
        // background-image: url('~images/icons/mail.svg');
        background-repeat: no-repeat;
        background-position: 16px center;
      }
      #password {
        // background-image: url('~images/icons/lock.svg');
        background-repeat: no-repeat;
        background-position: 16px center;
      }
    }
    .form-currency{
      display: block;
      .currency-inner {
        display: block;
        border-radius: 3px;
        background-color: $white;
      }
      .custom-radio-currency{
        width: 33.33333%;
        vertical-align: top;
        margin: 0;
      }
    }
    .form-info {
      &.error {
        color: $black;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
      }
    }
  }
  .close {
    position: absolute;
    right: 4%;
    top: 2%;
    font-size: 22px;
    cursor: pointer;
    width: 32px;
    height: 32px;

    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 25px;
      width: 6px;
      background-color: $color-heather
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
    
    @include breakpoints-compile(
      $until: tablet
    ){
      right: 0;
      top: 0;
      padding: $baseMarg;
      z-index: 5000;
    };
  }
  .form-control + .tooltip{
    bottom: 100%;
    position: absolute;
    top: 100% !important;
    left: 0 !important;
    right: auto !important;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    -webkit-transform: none;
    transform: none;
    .tooltip-inner{
      text-align: center;
      background-color: rgba(190,0,0,.8);
      padding: 3px 0;
      border-radius: 0 0 4px 4px;
      font-size: 0.8em;
    }
  }
  .i_agree-cont{
    .form-control + .tooltip{
      width: 200px !important;
      max-width: 200px !important;
    }
    @include breakpoints-compile(
      $until: tablet
    ){
      display: none;
    };
  }

}

%reg-form-input-decore{
  width: 100%;
  padding: 0 15px 0 50px;
  border: 0;
}
%reg-form-i-agree{
  padding: $baseMarg * 0.5 0 ;
}
%reg-form-check{
  font-size: 22px !important;
  width: 22px;
  height: 22px;
  position: relative;
  display: inline-block;
    &:after{
      opacity: 0;
      transition: opacity .1s ease-in-out;
  }
}

//quad btn
%reg-form-check-checked{
  &:after{
    height: 28px !important;
    width: 18px !important;
    font-size: 48px;
    opacity: 1;
    content: '';
    background-image: url('~images/i-checked.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}
%reg-form-decorator{
  color: $white;
  display: block;
  text-align: center;
  width: 100% !important;
  height: 40px !important;
  line-height: 40px;
  margin-right: 0px;
  letter-spacing: 1px;
  transition : color .1s ease-in-out;
  cursor: pointer;
  @include breakpoints-compile(
    $until: tablet
  ){
    font-size: 12px;
    height: 32px !important;
    line-height: 32px;
  };
}
%reg-form-decorator-checed{
  box-shadow: none;
  background-color: $color-supernova;
  color: $white;
}
%reg-form-submit-btn{
  border-radius: 3px;
  color: $color-shark;
  margin: 0 auto;
  font-size: .9em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $color-supernova;
  width: 100%;
  height: 3.5;
  line-height: 3.5;
  transition: transform  .2s ease-in-out,box-shadow .2s ease-in-out;
  border: 0;
  @include breakpoints-compile(
    $until: tablet
  ){
    font-size: 14px;
    height: 32px;
    line-height: 30px;
  };
  &:hover {

      }
  &:active{
      }
}
input:-webkit-autofill {
    background-color: transparent !important;
    color: $grey !important;
    -webkit-box-shadow: inset 0 0 0 50px #fff!important;
    -webkit-text-fill-color: $grey !important;
}
