.container {
    position: relative;
    margin: 0 auto;
    z-index: 0;
    height: 100%;
}

.chart-container {
    height: 100%;
    min-width: auto;
    position: relative;
    line-height: normal;
    width: 80vw;
    max-width: 100%;
    min-height: 370px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.5);
}

.ct-canvas_wrap {
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    background: #090C15;

  .preloader {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
  }

  #canvas{
    height: 100%;
    width: 100%;
  }

  #canvas svg{
      max-height:100vh;
      height: 100%;
      width: 100%;
  }


  .ct-wrap_info {
      position: absolute;
      right: 40px;
      top: 0;
      z-index: 8;
      width: 190px;
      text-align: left;
      height: 100%;
  }

  .ct-wrap_info_in {
      display: table;
      vertical-align: middle;
      height: 100%;
      margin: 0 auto;
  }

  .ct-question,
  .ct-good_choice,
  .ct-good_result,
  .ct-bad_choice,
  .ct-bad_result {
      vertical-align: middle;
      display: none;
  }

  h3 {
      color: #fff;
      margin-bottom: 0;
  }

  button {
      width: 100%;
      height: 56px;
      border-radius: 4px;
      margin-top: 20px;
      border: none;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      -webkit-transition: .25s background;
      -moz-transition: .25s background;
      -ms-transition: .25s background;
      -o-transition: .25s background;
      transition: .25s background;
  }

  .ct-btn_up {
      background: #3CCD76;
  }

  .ct-btn_up:hover {
      background: #59D48A;
  }

  .ct-btn_down {
      background: #F86060;
  }

  .ct-btn_down:hover {
      background: #F97777;
  }

  .ct-btn_gold {
      background: #FEDC47;
      color: #121415;
  }

  .ct-good_choice span,
  .ct-bad_choice span {
      opacity: 0.7;
      color: #fff;
  }

  .ct-good_choice h3 {
      margin-bottom: 16px;
  }

  .ct-good_result .result,
  .ct-bad_result .result {
      font-size: 42px;
      color: #fed738;
  }

  .ct-good_result small,
  .ct-bad_result small {
      font-size: 20px;
      color: #fedc47;
      display: block;
  }

  .ct-bad_result span {
      color: #fff;
  }

  .ct-bad_result small {
      color: #fff;
      opacity: 0.9;
  }

  .ct-path_animation {
      animation: dash 3550ms linear 1;
      width: 100px;
  }

  @keyframes dash {
      from {
          width: 0;
      }
      to {
          width: 100px;
      }
  }

  #animArrow1 {
      animation: anim1 2000ms infinite;
  }

  @keyframes anim1 {
      0%, 100% {
          x: 240;
          y: 134;
          opacity: .2;
      }
      50% {
          x: 260;
          y: 114;
          opacity: 1;
      }
  }

  #animArrow2 {
      animation: anim2 2000ms infinite;
  }

  @keyframes anim2 {
      0%, 100% {
          x: 240;
          y: 180;
          opacity: .2;
      }
      50% {
          x: 260;
          y: 200;
          opacity: 1;
      }
  }

  @media screen and (max-width: 1024px) {
      .ct-wrap_info {
          right: 30px;
          width: 190px;
      }
  }

  @media screen and (max-width: 760px) and (min-width: 480px) {
      .ct-wrap_info{
          width: 100px;
          font-size: 12px;
          right: 8%;
      }
      button,
      h3,
      small{
          font-size: 12px;
      }
      .ct-bad_result span,
      .ct-good_result span{
        font-size: 20px;
      }
      .ct-bad_result small,
      .ct-good_result small{
        font-size: 14px;
      }
  }

  @media screen and (max-width: 479px) {
      .ct-wrap_info {
          position: static;
          /*max-width: 500px;*/
          margin: 0 auto;
          width: 100%;
          padding-bottom: 30px;
      }
      .ct-canvas_wrap {
          background: #090C15;
      }
      h3,
      div span,
      small{
          text-align: left;
      }
      .ct-wrap_info{
          min-height:200px;
      }
      .ct-wrap_info_in{
          width: 86%;
          margin: 0 auto;
      }
  }
}
