
// sidebars

.sidebar-container {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    position: fixed;
    z-index: 100;
    right: 0;
    height: 100%;
  
    .sidebar-body {
      height: 100vh;
      padding-top: 112px;
      padding-bottom: 56px;
      background-color: #0d1422;
    }
  }
  
  .sidebar-title {
    text-align: center;
    padding: 30px 0 40px 0;
  }
  
  .sidebar {
    position: absolute;
    height: 100vh;
    z-index: 2;
    top: 0;
    visibility: hidden;
    color: $white;
    display: flex;
    flex-direction: column;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  
    &-xlg {
      width: 380px;
      flex: 0 0 380px;
    }
  
    .sidebar {
      &.sidebar-left {
        left: 100%;
      }
  
      &.sidebar-right {
        right: 100%;
      }
  
      z-index: 2;
  
      .sidebar {
        z-index: 1;
      }
    }
  
    &.active {
      transform: translateX(0%) translateZ(0);
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    &.animating {
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    &.active,
    &.animating {
      visibility: visible;
    }
  
    &-left {
      left: 0;
      right: auto;
      transform: translateX(-100%) translateZ(0);
  
      .sidebar {
        &.active {
          left: 100%;
        }
      }
    }
  
    &-right {
      left: auto;
      right: 0;
      transform: translateX(100%) translateZ(0);
  
      .sidebar {
        &.active {
          right: 100%;
        }
      }
    }
  
    .sidebar-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      z-index: 3;
    }
  
    .sidebar-body {
      position: relative;
      z-index: 130;
      flex-basis: 100%;
      flex-grow: 10;
      width: 100%;
    }
  
    .sidebar-footer {
      display: flex;
      width: 100%;
      text-align: center;
      opacity: 1;
      transition: opacity .3s;
      z-index: 4;
    }
  
    &-secondary {
      .sidebar-content {
        box-shadow: 2px 0 4px 0 rgba($black, 0.4), -2px 0 4px 0 rgba($black, 0.4)
      }
    }
  }
  
  // sidebars END
