//class="#{locale}"
.awards.en
  .first.item
    img.grats-img(src=require("images/awards/forex.png"))
    .desc
      h4.title 
        | 2016
        | 
        br.break
        | Forex Expo Awards
      span.description(t=('promo_all.awards.forex_label'))
  .second.item
    img.grats-img(src=require("images/awards/iair.png"))
    .desc
      h4.title 
        | 2016
        | 
        br.break
        | IAIR Awards
      span.description(t=('promo_all.awards.iair_label'))
