//- ru kz
.offset-row-sm-l.ru
  a.btn-link.btn-md.btn-link-secondary(href="https://www.youtube.com/channel/UC2-cbzgob73WaPhsRH229BA" target="_blank")
    i.n-icon.n-icon-youtube.size-40
  a.btn-link.btn-md.btn-link-secondary(href="https://www.facebook.com/binomorus/" target="_blank")
    i.n-icon.n-icon-facebook.size-40
  a.btn-link.btn-md.btn-link-secondary(href="https://twitter.com/BinomoOptions" target="_blank")
    i.n-icon.n-icon-tw.size-30
  a.btn-link.btn-md.btn-link-secondary(href="https://ok.ru/binomo" target="_blank")
    i.n-icon.n-icon-ok.size-30
  a.btn-link.btn-md.btn-link-secondary(href="https://vk.com/binomo" target="_blank")
    i.n-icon.n-icon-vk.size-30
  a.btn-link.btn-md.btn-link-secondary(href="https://www.instagram.com/binomo/" target="_blank")
    i.n-icon.n-icon-instagram.size-40

//- id
.offset-row-sm-l.id
  a.btn-link.btn-md.btn-link-secondary(href="https://www.instagram.com/binomo_indonesia/" target="_blank")
    i.n-icon.n-icon-instagram.size-40
  a.btn-link.btn-md.btn-link-secondary(href="https://www.youtube.com/channel/UCOML_9EYz2BgLmrBhlL22JA" target="_blank")
    i.n-icon.n-icon-youtube.size-40
  a.btn-link.btn-md.btn-link-secondary(href="https://www.facebook.com/binomoid/" target="_blank")
    i.n-icon.n-icon-facebook.size-40
  a.btn-link.btn-md.btn-link-secondary(href="https://twitter.com/BinomoIndonesia" target="_blank")
    i.n-icon.n-icon-tw.size-30
//- th
.offset-row-sm-l.th
  a.btn-link.btn-md.btn-link-secondary(href="https://www.youtube.com/channel/UCkwmRVPDZvla1xoTP9eoLsw" target="_blank")
    i.n-icon.n-icon-youtube.size-40
  a.btn-link.btn-md.btn-link-secondary(href="https://www.facebook.com/BinomoThailand/" target="_blank")
    i.n-icon.n-icon-facebook.size-40
  a.btn-link.btn-md.btn-link-secondary(href="https://www.instagram.com/binomo_thailand/" target="_blank")
    i.n-icon.n-icon-instagram.size-40
//- vn
.offset-row-sm-l.vn
  a.btn-link.btn-md.btn-link-secondary(href="https://www.instagram.com/binomo/" target="_blank")
    i.n-icon.n-icon-instagram.size-40
//- en
.offset-row-sm-l.en
  a.btn-link.btn-md.btn-link-secondary(href="https://www.youtube.com/channel/UCwkD9jHgRANkwNWMKfZQm0w" target="_blank")
    i.n-icon.n-icon-youtube.size-40
  a.btn-link.btn-md.btn-link-secondary(href="https://www.facebook.com/BinomoInt/" target="_blank")
    i.n-icon.n-icon-facebook.size-40
//- tr
.offset-row-sm-l.tr
  a.btn-link.btn-md.btn-link-secondary(href="https://www.youtube.com/channel/UCdNRS90tmavqiGNTADSNG4w" target="_blank")
    i.n-icon.n-icon-youtube.size-40
  a.btn-link.btn-md.btn-link-secondary(href="https://www.facebook.com/binomotr/" target="_blank")
    i.n-icon.n-icon-facebook.size-40
//- es
.offset-row-sm-l.es
  a.btn-link.btn-md.btn-link-secondary(href="https://www.youtube.com/channel/UCWtXbSn21OmInSExut8ehnQ" target="_blank")
    i.n-icon.n-icon-youtube.size-40
//- vn
.offset-row-sm-l.vn
  a.btn-link.btn-md.btn-link-secondary(href="https://www.youtube.com/channel/UCkOEjpo1GPg72U_9qqYHCu" target="_blank")
    i.n-icon.n-icon-youtube.size-40
  a.btn-link.btn-md.btn-link-secondary(href="https://www.facebook.com/binomovt/" target="_blank")
    i.n-icon.n-icon-facebook.size-40
  a.btn-link.btn-md.btn-link-secondary(href="https://www.instagram.com/binomo_vietnam/" target="_blank")
    i.n-icon.n-icon-instagram.size-40
//- pl
.offset-row-sm-l.pl
  a.btn-link.btn-md.btn-link-secondary(href="https://www.facebook.com/binomo.polska" target="_blank")
    i.n-icon.n-icon-facebook.size-40
//- cn
.offset-row-sm-l.cn
  .w-container-sm-xl.split-row
    a.btn-link.btn-md.btn-link-secondary(href="https://baidu.com" target="_blank")
      i.n-icon.n-icon-baidu.size-40
    a.btn-link.btn-md.btn-link-secondary(href="https://weibo.com" target="_blank")
      i.n-icon.n-icon-weibo.size-40