footer.page-footer
  .footer-body.page-container
    ul.contacts.b-offset-2
      li.skype
        i
        span.label.r-offset-1 Skype:
        a.contact(href='//skype:support.binomo?chat') support.binomo
      li.email
        i
        span.label.r-offset-1 E-mail:
        a.contact(href='mailto:support@binomo.com') support@binomo.com
    .footer-text
      p.text
        include ./footer-text.pug