ul.pay-icons(xlocale)
  li.ico.not-cn.ico-1
  li.ico.not-cn.ico-2.en
  li.ico.not-cn.ico-6
  li.ico.not-cn.ico-4.en
  li.ico.not-cn.ico-8
  li.ico.not-cn.ico-7
  li.ico.not-cn.ico-9
  li.ico.cn.alipay
  li.ico.cn.mastercard
  li.ico.cn.neteller
  li.ico.cn.skrill
  li.ico.cn.union
  li.ico.cn.visa
  li.ico.cn.wechat
