ul.promo-safe-guards.clearfix
  li.item.en
    span.img
    span.text(t=('promo_all.safe_guards.crofr_html'))
  li.item.binomo
    span.img
    span.text(t=('promo_all.safe_guards.binomo_html'))
  li.item.comodo
    span.img
    span.text(t=('promo_all.safe_guards.comodo_html'))
  li.item.thomson
    span.img
    span.text(t=('promo_all.safe_guards.provider_html'))


//- ul.promo-safe-guards.clearfix
//-   - if I18n.locale.equal?(:ru)
//-     li.item.rf
//-       span.img
//-       span.text
//-         t=('promo_all.safe_guards.crofr_html')
//-         br
//-         a href=t('crofr_url') target="_blank"
//-           |Сертификат
//-           =< APP_CONFIG["certificate"]
//-   - else
//-     li.item.en
//-       span.img
//-       span.text
//-         t=('promo_all.safe_guards.crofr_html')
//-   li.item.binomo
//-     span.img
//-     span.text
//-       t=('promo_all.safe_guards.binomo_html')
//-   li.item.comodo
//-     span.img
//-     span.text
//-       t=('promo_all.safe_guards.comodo_html')
//-   li.item.thomson
//-     span.img
//-     span.text
//-       t=('promo_all.safe_guards.provider_html')
