// Reset
html, body, applet, object, iframe, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, 
i, center, dl, dt, dd, ol, ul, li, fieldset, legend, table, caption, tbody, tfoot, thead, tr, 
th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, 
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  line-height: normal;
}

* {
  box-sizing: border-box;
  outline:none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  margin: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: normal;
  font-family: 'roboto-regular', Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color:inherit;
  text-decoration: underline;
  cursor:pointer;
  img {
    border: none;
  }
  &:hover {
    text-decoration: none;
  }
}

label,
input[type='checkbox'],
input[type='radio'],
input[type='submit'],
input[type='reset'],
button {
  cursor: pointer;
}

.form-control {
  padding: 0 6px;
  &:placeholder,
  &::-ms-placeholder {
    color:#696969;
  }
}

.placeholder {
  color:#696969;
}

/*--Font-sizes--*/
h2, .h2 {
  font-size: 1.389em;
}

.fz {
  &-10 { font-size: 0.556em; }
  &-11 { font-size: 0.611em; }
  &-12 { font-size: 0.667em; }
  &-13 { font-size: 0.722em; }
  &-14 { font-size: 0.778em; }
  &-15 { font-size: 0.833em; }
  &-16 { font-size: 0.889em; }
  &-17 { font-size: 0.944em; }
  &-18 { font-size: 1em; }
  &-19 { font-size: 1.056em; }
  &-20 { font-size: 1.111em; }
  &-21 { font-size: 1.167em; }
  &-22 { font-size: 1.222em; }
  &-23 { font-size: 1.278em; }
  &-24 { font-size: 1.333em; }
}

.fw-b {
  font-weight: bold;
}

.fw-n {
  font-weight: normal;
}

//Helpers
.center-block {
  margin:0 auto;
}
// hide traffic block
.traffic {
  width: 0; 
  height: 0; 
  overflow: hidden;
}

.text {
  &-left {text-align: left}
  &-right {text-align: right}
  &-center {text-align: center}
}

.display {
  &-b { display: block;}
  &-i { display: inline;}
  &-ib { display: inline-block;}
  &-ib-top { display: inline-block; vertical-align: top;}
  &-ib-mid { display: inline-block; vertical-align: middle;}
  &-ib-bottom { display: inline-block; vertical-align: bottom;}
}

.clearfix {
  zoom:1;
  &:before, &:after {
    display: table;
    content: " ";
    clear:both;
  }
}

.quad-list li { width:25%; }

/*---Offsets---*/
.t-offset {
  &-1 { margin-top:10px;}
  &-2 { margin-top:20px;}
  &-3 { margin-top:30px;}
  &-4 { margin-top:40px;}
  &-5 { margin-top:50px;}
  &-6 { margin-top:60px;}
  &-7 { margin-top:70px;}
  &-8 { margin-top:80px;}
  &-9 { margin-top:90px;}
  &-10 { margin-top:100px;}
  &-11 { margin-top:110px;}
  &-12 { margin-top:120px;}
}
.b-offset {
  &-1 { margin-bottom:10px;}
  &-2 { margin-bottom:20px;}
  &-3 { margin-bottom:30px;}
  &-4 { margin-bottom:40px;}
  &-5 { margin-bottom:50px;}
  &-6 { margin-bottom:60px;}
  &-7 { margin-bottom:70px;}
  &-8 { margin-bottom:80px;}
  &-9 { margin-bottom:90px;}
  &-10 { margin-bottom:100px;}
  &-11 { margin-bottom:110px;}
  &-12 { margin-bottom:120px;}
}
.l-offset {
  &-1 { margin-left:10px;}
  &-2 { margin-left:20px;}
  &-3 { margin-left:30px;}
  &-4 { margin-left:40px;}
  &-5 { margin-left:50px;}
  &-6 { margin-left:60px;}
  &-7 { margin-left:70px;}
  &-8 { margin-left:80px;}
  &-9 { margin-left:90px;}
  &-10 { margin-left:100px;}
  &-11 { margin-left:110px;}
  &-12 { margin-left:120px;}
}
.r-offset {
  &-1 { margin-right:10px;}
  &-2 { margin-right:20px;}
  &-3 { margin-right:30px;}
  &-4 { margin-right:40px;}
  &-5 { margin-right:50px;}
  &-6 { margin-right:60px;}
  &-7 { margin-right:70px;}
  &-8 { margin-right:80px;}
  &-9 { margin-right:90px;}
  &-10 { margin-right:100px;}
  &-11 { margin-right:110px;}
  &-12 { margin-right:120px;}
}
